<!DOCTYPE html>
<html lang="en">
 
<head>
  <title>Python Flask Bucket List App</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script>
    var secondMethod = function(){
      $.ajax({
        url: '/secondSubmit',
          data: {hi : "hi"},
          type: 'POST',
          success: function(response) {
              console.log(response);
              $('body').append(response);
              $('#submitButton').prop("disabled", false)
          },
          error: function(error) {
              console.log(error);
          }
      })
    }
  </script>
  <script>
    $(function() {
      $('#submitButton').click(function() {
        $('#submitButton').prop("disabled", true)
          $.ajax({
              url: '/submitForm',
              data: {hi : "hi"},
              type: 'POST',
              success: function(response) {
                  console.log(response);
                  $('body').append(response);

                  secondMethod()

              },
              error: function(error) {
                  console.log(error);
              }
          });
      });
    });
  </script>
</head>
<body>
  <nav class="navbar navbar-default height:10vh">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active" id="first_link"><a href="#">Link</a></li>
        <li id="second_link"><a href="#">Link</a></li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </nav>
  <div style="float:left;width:70%">
    <button id="submitButton" class="btn btn-primary">YOYOYO</button>
    <div id="tabToFill"></div>
    <script type="text/javascript">$('#first_link').click(function(e){
      console.log("first clicked");
      $('#tabToFill').load('/tab', "num=1", function(){
        console.log("tab filled");
      })
    })</script>
    <script type="text/javascript">$('#second_link').click(function(e){
      console.log("first clicked");
      $('#tabToFill').load('/tab', "num=2", function(){
        console.log("tab filled");
      })
    })</script>
    <script type="text/javascript">
    $('#tabToFill').load('/tab', "num=1", function(){
      console.log("tabfilled");
    })
    </script>
  </div>
  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px">
    <h1>RESULTS</h1>
    <ul>
      <li>This is the first result</li>
      <li>This is the second result</li>
      <li>This is the third result</li>
    </ul>


  </div>
</body>
</html>