<div>
  <div style="float:left;width:70%" id="leftSide">
    <h2 style="margin:1%">COMBINE MGF AND XML FILES</h2>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH TO FOLDER WITH SELECTED MGF AND MGF.TXT FILES</span>
      <input type="text" class="form-control" id="mgfSelectedPath">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH TO DIRECTORY CREATED BY PARSE_XML_FILE</span>
      <input type="text" class="form-control" id="xmlDirectoryPath">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">REPORTER ION TYPE</span>
      <select class='form-control' id="reporterIonType">
        {% if inverse_files %}
          {% for f in inverse_files %}
            <option value={{f}}>{{f.rpartition('-inv.txt')[0]}}</option>
          {% endfor %}
        {% endif %}
        <!-- <option value="iTRAQ4">iTRAQ4</option>
        <option value="iTRAQ8">iTRAQ8</option>
        <option value="TMT10">TMT10</option> -->
      </select>
    </div>
    <!-- <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">mass range threshold, (integer, hundreth of dalton)</span>
      <input type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="threshold">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Label Mass (integer, daltons)</span>
      <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="labelMass">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">GENE FILE</span>
      <select class='form-control' id="geneFile">
        {% if gene_files %}
          {% for f in gene_files %}
            <option value={{f}}>{{f.rpartition('.')[0]}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div> -->
    <br>
    <button id="tab_4_button" class="btn btn-primary">Click to submit Tab 3</button>  </div>
  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
  	<h1>Progress</h1>
  	<ul>
  	</ul>
  </div>
  <script>$('#tab_4_button').click(function(e){
  	console.log("clicked");
  	$(this).attr('disabled', true);
  	var that = $(this)
    var leftSide = that.parent();
    var mgfSelectedPath = leftSide.find("#mgfSelectedPath").first().val().trim();
    var xmlDirectoryPath = leftSide.find("#xmlDirectoryPath").first().val().trim();
    var reporterIonType = leftSide.find("#reporterIonType").first().val().trim();
    var data = {
      mgfSelectedPath : mgfSelectedPath,
      xmlDirectoryPath : xmlDirectoryPath,
      reporterIonType : reporterIonType
    }

    var rightSide = that.parent().siblings("#rightSide").first();
    $.ajax({
      type:"POST",
      url:"combine_parsed_xml_with_parsed_mgf",
      data : data,
      success : function(result){
        console.log(result);
        rightSide.append("<div>Executed Successfully</div>")
        that.attr('disabled',false);
        alert("Completed Successfully");
      },
      error: function(response, textStatus, HTTPError){
        var errorText = (response && response.responseText ? response.responseText : "ERROR in XML_PARSER");
        rightSide.append('<div style="color:red">' + errorText + '</div>');
        alert("ERROR: " + errorText);
        that.attr('disabled',false);
      }
    });
    return;
  	$(this).parent().siblings("#rightSide").each(function(index){
  		$(this).append("<div>Tab 4</div>");
  		setTimeout(function(){
  			console.log('better');
  			that.attr('disabled',false);
  		}, 5000);
  	})
  })</script>

</div>