<div>
  <div style="float:left;width:60%" id="leftSide">
    <h2 style="margin:1%">PARSE XML FILE</h2>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">&nbsp&nbsp&nbsp&nbsp&nbspFULL PATH to XML file&nbsp&nbsp&nbsp&nbsp&nbsp</span>
      <input type="text" class="form-control" id="xmlReadPath">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">mass range threshold, (integer, hundreth of dalton)</span>
      <input type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="threshold">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Label Mass (integer, daltons)</span>
      <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="labelMass">
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">GENE FILE</span>
      <select class='form-control' id="geneFile">
        {% if gene_files %}
          {% for f in gene_files %}
            <option value={{f}}>{{f.rpartition('.')[0]}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <br>
    <button id="tab_3_button" class="btn btn-primary">Click to submit Tab 2</button>
  </div>
  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
    <h1>Progress</h1>
    <ul>
    </ul>
  </div>

  <script>
  $('#tab_3_button').click(function(e){
    console.log("clicked");
    $(this).attr('disabled', true);
    var that = $(this);
    var leftSide = that.parent();
    var xmlReadPath = leftSide.find("#xmlReadPath").first().val().trim();
    var threshold = leftSide.find("#threshold").first().val().trim();
    var labelMass = leftSide.find("#labelMass").first().val().trim();
    var geneFile = leftSide.find("#geneFile").first().val().trim();
    // var minReporters = leftSide.find("#min_reporters").first().val().trim();
    // var minIntensity = leftSide.find("#min_intensity").first().val().trim();
    // console.log(mgfReadPath);
    // console.log(mgfWritePath);
    // leftSide.siblings("#rightSide")
    var data = {
      xmlReadPath : xmlReadPath,
      threshold : threshold,
      labelMass : labelMass,
      geneFile : geneFile
    }
    var rightSide = $(this).parent().siblings("#rightSide").first()
    rightSide.append("<div>Executing Function Now</div>")
    $.ajax({
      type:"POST",
      url:"tab_3_function",
      data : data,
      success : function(result){
        console.log(result);
        rightSide.append("<div>Executed Successfully</div>")
        that.attr('disabled', false);
        alert("Completed Successfully");
      },
      error: function(response, textStatus, HTTPError){

        var errorText = (response && response.responseText ? response.responseText : "ERROR in XML_PARSER");
        rightSide.append('<div style="color:red">' + errorText + '</div>');
        alert("ERROR: " + errorText);
      }
    })

    return;
  });
  </script>

</div>