<!DOCTYPE html>
<html lang="en">
 
	<head>
	  <title>GPM and Isobaric Label Assistant</title>
	  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	  <script src="{{ url_for('static', filename='jquery.js') }}"> </script>
	  <script src="{{ url_for('static', filename='async.js') }}"> </script>
	  <script src="{{ url_for('static', filename='underscore.min.js') }}"> </script>
	</head>
	<body>
		<nav class="navbar navbar-default height:10vh">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav">
	        <li name="tab_link" class="active" id="tab_2"><a href="#">WRITE PSMs & REPORTERS</a></li>
	        <li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	       	<li name="tab_link" class="active" id="tab_4"><a href="#">PLAIN PARSER</a></li>
	       	<li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	       	<li name="tab_link" class="active" id="tab_7"><a href="#">FAST PARSER</a></li>
	       	<li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	        <li name="tab_link" class="active" id="tab_5"><a href="#">COUNT PROTEINS</a></li>
	        <li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	        <li name="tab_link" class="active" id="tab_6"><a href="#">MERGE MS2/MS3 FILES</a></li>
	        <li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	        <li name="tab_link" class="active" id="tab_3"><a href="#">CREATE INVERSE FILES</a></li>
	        <li name="tab_link">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
	        <li name="tab_link" id="tab_1" class="active"><a href="#">SELECT SPECTRA</a></li>

	      </ul>
	    </div>
	  </nav>
	  <div id="tab_2" name="tab_body"></div>
	  <div id="tab_4" name="tab_body" style="display: none"></div>
	  <div id="tab_7" name="tab_body" style="display: none"></div>
	  <div id="tab_5" name="tab_body" style="display: none"></div>
	  <div id="tab_6" name="tab_body" style="display: none"></div>
	  <div id="tab_3" name="tab_body" style="display: none"></div>
	  <div id="tab_1" name="tab_body" style="display: none"></div>
	  
	  <script type="text/javascript">

        function inverse_file_load(tab_number){
      	var val = $('div[id="tab_1"]').find("#reporterIonType").val();
      	console.log("inverse load")
        console.log("reporterIonType value is " + val);
        $.ajax({
            type:"POST",
            url:"reporterIonType",
            data:{"ionType": val},
            success : function(result){
              console.log("Retrieved Ion Types");
              console.log("from index file load");
              console.log(result);
              inverse_files = JSON.parse(result);
              $('div[id="tab_1"]').find('#reporterInverseFiles').empty();
              $.each(inverse_files, function(i, filename) {
                $('div[id="tab_1"]').find('#reporterInverseFiles').append($('<option>').text(filename).attr('inverse_file', filename));
              });
            },
            error: function(response, textStatus, HTTPError){
              console.log("Error");
              console.log(response);
            }
          })
    }

    function inverse_file_load2(tab_number){
      	var val = $('div[id="tab_2"]').find("#reporterIonType").val();
      	console.log("inverse load 2 index")
        console.log("reporterIonType value is " + val);
        $.ajax({
            type:"POST",
            url:"reporterIonType",
            data:{"ionType": val},
            success : function(result){
              console.log("Retrieved Ion Types");
              console.log("from index file load 2");
              console.log(result);
              inverse_files = JSON.parse(result);
              $('div[id="tab_2"]').find('#reporterInverseFiles').empty();
              $.each(inverse_files, function(i, filename) {
                $('div[id="tab_2"]').find('#reporterInverseFiles').append($('<option>').text(filename).attr('inverse_file', filename));
              });
            },
            error: function(response, textStatus, HTTPError){
              console.log("Error");
              console.log(response);
            }
          })
    }
	</script>

	  <script type="text/javascript">
	  $('[name=tab_body]').each(function(index){
	  	console.log(index)
	  	var id = $(this).attr('id');
	  	$(this).load('/tab', 'name=' + id)
	  })
	  	// inverse_file_load("tab_1");
	  </script>

	  <script type="text/javascript">

	  $('[name=tab_link]').click(function(e){
	  	console.log('clicked');
	  	var id = $(this).attr('id')
	  	$('[name=tab_body]').each(function(index){
	  		if ($(this).attr('id') == id) {
					$(this).show();
					if (id == "tab_1"){
						inverse_file_load(id);
					}
					if (id == "tab_2"){
						inverse_file_load2(id);
					}
	  		} else {
	  			$(this).hide();
	  		}
	  	});
	  })
	  </script>
	  
	  <script type="text/javascript">
	  function getTimestamp(){
	  	var timestamp = new Date();
    	timestamp.setMinutes(timestamp.getMinutes() - timestamp.getTimezoneOffset());
   		timestamp = timestamp.toISOString().slice(0,19).replace(/-/g,"-").replace(/T/g,"_").replace(/:/g,"-");
   		return timestamp;
	  };
	  </script>

	  <script type="text/javascript">
	  //adding the timestamp to every form click
	  function serializeForm(elem, timestamp){
	  	// return;
	  	var toReturn = {};
	  	$.each(elem, function(i, e){
	  		// need to get the id of e;
	  		var jqe = $(e);
	  		var id = jqe.attr('id');
	  		if (toReturn[id]){
	  			// throw "Already seend id " + id
	  			console.log("Already seend id " + id);
	  		}
	  		toReturn[id] = jqe.val();
	  	})
	  	toReturn["timestamp"] = timestamp;
	  	return toReturn;
	  	//$.each($('input, select'), function(e,f){console.log($(f).val())}) is a good start. That prints all the values.
	  };
	  </script>
	  <script type="text/javascript">
	  function givenRightsideAndDataObjSelectMGF(rightSide, serializedForm, callbackOuter){
	  	// return callback(null);

			var startTime = new Date();
	    async.waterfall([
	      function(callback){
	        // console.log("inside of first waterfaller");
	        $.ajax({
	          type : "POST",
	          url : "getMGFFiles",
	          data: {mgfReadDirPath : serializedForm.mgfReadDirPath},
	          success : function(result){
	            console.log('success');
	            console.log(result);
	            // $(this).attr('disabled', false);
	            return callback(null, result)
	          },
	          error: function(response, textStatus, HTTPError){
	            rightSide.append('<h3 style="color:red">' + response.responseText + '</h3>')
				rightSide.scrollTop(rightSide[0].scrollHeight);
	            return callback("ERROR IN PASSING BACK FILE NAMES");
	          }
	        })
	      },
	      function(fileArray, callback){
	        if (!fileArray){
	          return callback("No fileArray");
	        }
	        if (typeof fileArray == 'string'){
	          console.log("FileArray needs to be parsed");
	          fileArray = JSON.parse(fileArray);
	        }
	        if (!fileArray.length){
	          rightSide.append("<div>NO FILES TO WRITE!</div>")
			  rightSide.scrollTop(rightSide[0].scrollHeight);
	          return callback("NO FILES TO WRITE")
	        }
	        async.each(fileArray, function(elem, next){
	          var data = JSON.parse(JSON.stringify(serializedForm));
	          console.log(data);
	          data['mgfFileName'] = elem;

	          console.log("Parsing file");
	          rightSide.append("<div>Began selecting from file " + elem + "</div>");
			  rightSide.scrollTop(rightSide[0].scrollHeight);

	          var tab_url = "";
	          var plain_parsing = data["plain_parse"];

	          if (plain_parsing){
	          	console.log("Plain parsing");
	          	tab_url="tab_4_helper_function";
	          }
	          else{
	          	console.log("Full parsing");
	          	tab_url="tab_1_helper_function";
	          }

	          $.ajax({
	            type:"POST",
	            url: tab_url,
	            data : data,
	            success : function(result){
	              console.log(result);
	              rightSide.append("<div>Finished Selecting from file " + elem + "</div>");
				  rightSide.scrollTop(rightSide[0].scrollHeight);
	              return next(null)
	            },
	            error: function(response, textStatus, HTTPError){
	              var responseText = (response && response.responseText) ?
	                response.responseText : "ERROR IN EACHSERIES";
	              return next(responseText);
	            }
	          });
	        }, function(err){
	          return callback(err);
	        })
	      }
	    ],
	    function(err, result){
		  var difference = new Date() - startTime;
		  rightSide.append("<h4>MILLISECONDS TAKEN: " + difference + " <h4>")
		  rightSide.scrollTop(rightSide[0].scrollHeight);
	      if (err){
	      	console.log(err);
      		if (typeof result == "undefined"){
                alert("Check to make sure GAILA server is running.");
            }
      		if (err){
        		rightSide.append('<h3 style="color:red">' + err + '</h3>')
        		rightSide.scrollTop(rightSide[0].scrollHeight);
        	}
	      }
	      return callbackOuter(err); //could be null
	    })
	  }

	  function writeSummaryToFile(rightSide, serializedForm, callbackOuter) {
	    var summary = JSON.parse(JSON.stringify(serializedForm));
	    $.ajax({
	      type: "POST",
	      url: "writeSummary",
	      data: summary,
	      success: function(result) {
	        console.log(result);
	        console.log("Writing summary");
	      },
	      error: function(response, textStatus, HTTPError) {
	        var responseText = (response && response.responseText) ?
	          response.responseText : "ERROR IN WRITING OUT SUMMARY";
	      }
	    });
	  }

	  function concatReporters(rightSide, serializedForm, callbackOuter) {
	    $.ajax({
	      type: "POST",
	      url: "concatReporters",
	      data: serializedForm,
	      success: function(result) {
	      },
	      error: function(response, textStatus, HTTPError) {
	        var responseText = (response && response.responseText) ?
	          response.responseText : "ERROR IN JOINING REPORTERS";
	      }
	    });
	  }

	  </script>

	</body>
</html>