<div>
  <div style="float:left;width:60%" id="leftSide">
    <h2 style="margin:1%">CREATE INVERSE FILE FROM SPEC SHEET</h2>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">REPORTER ION TYPE</span>
      <select class='form-control' id="reporterIonType">
        {% if inverse_files %}
          {% for f in inverse_files %}
            <option value={{f.rpartition('-inv.txt')[0]}}>{{f.rpartition('-inv.txt')[0]}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <span id="inverse_matrix_forms">
      <div class="input-group" id="iTRAQ4" style="margin:1%">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>iTRAQ-114</th>
                <td><input type="text" class="form-control" id="114_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_114" value="100.0"></td>
                <td><input type="text" class="form-control" id="114_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_116" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-115</th>
                <td><input type="text" class="form-control" id="115_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_114" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_115" value="100.0"></td>
                <td><input type="text" class="form-control" id="115_116" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_117" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-116</th>
                <td><input type="text" class="form-control" id="116_114" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_116" value="100.0"></td>
                <td><input type="text" class="form-control" id="116_117" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-117</th>
                <td><input type="text" class="form-control" id="117_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_116" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_117" value="100.0"></td>
                <td><input type="text" class="form-control" id="117_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_NA2" value="0.0"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="input-group" id="iTRAQ8" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>iTRAQ-113</th>
                <td><input type="text" class="form-control" id="113_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="113_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="113_113" value="100.0"></td>
                <td><input type="text" class="form-control" id="113_114" value="0.0"></td>
                <td><input type="text" class="form-control" id="113_115" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-114</th>
                <td><input type="text" class="form-control" id="114_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_113" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_114" value="100.0"></td>
                <td><input type="text" class="form-control" id="114_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="114_116" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-115</th>
                <td><input type="text" class="form-control" id="115_113" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_114" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_115" value="100.0"></td>
                <td><input type="text" class="form-control" id="115_116" value="0.0"></td>
                <td><input type="text" class="form-control" id="115_117" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-116</th>
                <td><input type="text" class="form-control" id="116_114" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_116" value="100.0"></td>
                <td><input type="text" class="form-control" id="116_117" value="0.0"></td>
                <td><input type="text" class="form-control" id="116_118" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-117</th>
                <td><input type="text" class="form-control" id="117_115" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_116" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_117" value="100.0"></td>
                <td><input type="text" class="form-control" id="117_118" value="0.0"></td>
                <td><input type="text" class="form-control" id="117_119" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-118</th>
                <td><input type="text" class="form-control" id="118_116" value="0.0"></td>
                <td><input type="text" class="form-control" id="118_117" value="0.0"></td>
                <td><input type="text" class="form-control" id="118_118" value="100.0"></td>
                <td><input type="text" class="form-control" id="118_119" value="0.0"></td>
                <td><input type="text" class="form-control" id="118_121" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-119</th>
                <td><input type="text" class="form-control" id="119_117" value="0.0"></td>
                <td><input type="text" class="form-control" id="119_118" value="0.0"></td>
                <td><input type="text" class="form-control" id="119_119" value="100.0"></td>
                <td><input type="text" class="form-control" id="119_121" value="0.0"></td>
                <td><input type="text" class="form-control" id="119_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>iTRAQ-121</th>
                <td><input type="text" class="form-control" id="121_118" value="0.0"></td>
                <td><input type="text" class="form-control" id="121_119" value="0.0"></td>
                <td><input type="text" class="form-control" id="121_121" value="100.0"></td>
                <td><input type="text" class="form-control" id="121_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="121_NA2" value="0.0"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="input-group" id="TMT0" style="margin:1%;display:none">
          Not available for inverse creation
      </div>
      <div class="input-group" id="TMT10" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>TMT-126</th>
                <td><input type="text" class="form-control" id="126_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_126" value="100.0"></td>
                <td><input type="text" class="form-control" id="126_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_128C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127N</th>
                <td><input type="text" class="form-control" id="127N_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_127N" value="100.0"></td>
                <td><input type="text" class="form-control" id="127N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_129N" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127C</th>
                <td><input type="text" class="form-control" id="127C_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_127C" value="100.0"></td>
                <td><input type="text" class="form-control" id="127C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_129C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128N</th>
                <td><input type="text" class="form-control" id="128N_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_127N" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_128N" value="100.0"></td>
                <td><input type="text" class="form-control" id="128N_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_130N" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128C</th>
                <td><input type="text" class="form-control" id="128C_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_128C" value="100.0"></td>
                <td><input type="text" class="form-control" id="128C_129C" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_130C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129N</th>
                <td><input type="text" class="form-control" id="129N_127N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_129N" value="100.0"></td>
                <td><input type="text" class="form-control" id="129N_130N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_131" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129C</th>
                <td><input type="text" class="form-control" id="129C_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_129C" value="100.0"></td>
                <td><input type="text" class="form-control" id="129C_130C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130N</th>
                <td><input type="text" class="form-control" id="130N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_130N" value="100.0"></td>
                <td><input type="text" class="form-control" id="130N_131" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130C</th>
                <td><input type="text" class="form-control" id="130C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_129C" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_130C" value="100.0"></td>
                <td><input type="text" class="form-control" id="130C_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_NA2" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-131</th>
                <td><input type="text" class="form-control" id="131_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_130N" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_131" value="100.0"></td>
                <td><input type="text" class="form-control" id="131_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_NA2" value="0.0"></td>
              </tr>       
            </tbody>
          </table>
        </div>      
      </div>
      <div class="input-group" id="TMT11" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>TMT-126</th>
                <td><input type="text" class="form-control" id="126_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_126" value="100.0"></td>
                <td><input type="text" class="form-control" id="126_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_128C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127N</th>
                <td><input type="text" class="form-control" id="127N_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_127N" value="100.0"></td>
                <td><input type="text" class="form-control" id="127N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="127N_129N" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127C</th>
                <td><input type="text" class="form-control" id="127C_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_127C" value="100.0"></td>
                <td><input type="text" class="form-control" id="127C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="127C_129C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128N</th>
                <td><input type="text" class="form-control" id="128N_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_127N" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_128N" value="100.0"></td>
                <td><input type="text" class="form-control" id="128N_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="128N_130N" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128C</th>
                <td><input type="text" class="form-control" id="128C_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_128C" value="100.0"></td>
                <td><input type="text" class="form-control" id="128C_129C" value="0.0"></td>
                <td><input type="text" class="form-control" id="128C_130C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129N</th>
                <td><input type="text" class="form-control" id="129N_127N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_129N" value="100.0"></td>
                <td><input type="text" class="form-control" id="129N_130N" value="0.0"></td>
                <td><input type="text" class="form-control" id="129N_131" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129C</th>
                <td><input type="text" class="form-control" id="129C_127C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_129C" value="100.0"></td>
                <td><input type="text" class="form-control" id="129C_130C" value="0.0"></td>
                <td><input type="text" class="form-control" id="129C_131C" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130N</th>
                <td><input type="text" class="form-control" id="130N_128N" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_130N" value="100.0"></td>
                <td><input type="text" class="form-control" id="130N_131" value="0.0"></td>
                <td><input type="text" class="form-control" id="130N_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130C</th>
                <td><input type="text" class="form-control" id="130C_128C" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_129C" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_130C" value="100.0"></td>
                <td><input type="text" class="form-control" id="130C_131C" value="0.0"></td>
                <td><input type="text" class="form-control" id="130C_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-131</th>
                <td><input type="text" class="form-control" id="131_129N" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_130N" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_131" value="100.0"></td>
                <td><input type="text" class="form-control" id="131_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_NA2" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-131C</th>
                <td><input type="text" class="form-control" id="131C_129C" value="0.0"></td>
                <td><input type="text" class="form-control" id="131C_130C" value="0.0"></td>
                <td><input type="text" class="form-control" id="131C_131C" value="100.0"></td>
                <td><input type="text" class="form-control" id="131C_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="131C_NA2" value="0.0"></td>
              </tr>
            </tbody>
          </table>
        </div>      
      </div>
      <div class="input-group" id="TMT2" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>TMT-126</th>
                <td><input type="text" class="form-control" id="126_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_126" value="100.0"></td>
                <td><input type="text" class="form-control" id="126_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA3" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127</th>
                <td><input type="text" class="form-control" id="127_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_127" value="100.0"></td>
                <td><input type="text" class="form-control" id="127_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_NA3" value="0.0"></td>
              </tr>  
            </tbody>
          </table>
        </div>
      </div>
      <div class="input-group" id="TMT6" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>TMT-126</th>
                <td><input type="text" class="form-control" id="126_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_126" value="100.0"></td>
                <td><input type="text" class="form-control" id="126_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_128" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127</th>
                <td><input type="text" class="form-control" id="127_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_127" value="100.0"></td>
                <td><input type="text" class="form-control" id="127_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_129" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128</th>
                <td><input type="text" class="form-control" id="128_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_128" value="100.0"></td>
                <td><input type="text" class="form-control" id="128_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_130" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129</th>
                <td><input type="text" class="form-control" id="129_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_129" value="100.0"></td>
                <td><input type="text" class="form-control" id="129_130" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_131" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130</th>
                <td><input type="text" class="form-control" id="130_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_130" value="100.0"></td>
                <td><input type="text" class="form-control" id="130_131" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-131</th>
                <td><input type="text" class="form-control" id="131_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_130" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_131" value="100.0"></td>
                <td><input type="text" class="form-control" id="131_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_NA2" value="0.0"></td>
              </tr>       
            </tbody>
          </table>
        </div>        
      </div>
      <div class="input-group" id="TMT6OLD" style="margin:1%;display:none">
        <div class="container">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mass Tag</th>
              <th>-2</th>
              <th>-1</th>
              <th>Main</th>
              <th>1</th>
              <th>2</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>TMT-126</th>
                <td><input type="text" class="form-control" id="126_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_NA2" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_126" value="100.0"></td>
                <td><input type="text" class="form-control" id="126_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="126_128" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-127</th>
                <td><input type="text" class="form-control" id="127_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_127" value="100.0"></td>
                <td><input type="text" class="form-control" id="127_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="127_129" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-128</th>
                <td><input type="text" class="form-control" id="128_126" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_128" value="100.0"></td>
                <td><input type="text" class="form-control" id="128_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="128_130" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-129</th>
                <td><input type="text" class="form-control" id="129_127" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_129" value="100.0"></td>
                <td><input type="text" class="form-control" id="129_130" value="0.0"></td>
                <td><input type="text" class="form-control" id="129_131" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-130</th>
                <td><input type="text" class="form-control" id="130_128" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_130" value="100.0"></td>
                <td><input type="text" class="form-control" id="130_131" value="0.0"></td>
                <td><input type="text" class="form-control" id="130_NA1" value="0.0"></td>
              </tr>
              <tr>
                <th>TMT-131</th>
                <td><input type="text" class="form-control" id="131_129" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_130" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_131" value="100.0"></td>
                <td><input type="text" class="form-control" id="131_NA1" value="0.0"></td>
                <td><input type="text" class="form-control" id="131_NA2" value="0.0"></td>
              </tr>       
            </tbody>
          </table>
        </div>        
      </div>    </span>
    <button id="tab_3_button" class="btn btn-primary">Create Inverse File</button>
  </div>
  <!-- <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
    <h1>Progress</h1>
    <ul>
    </ul>
  </div> -->
  <script>
  $('div[id="tab_3"]').find('#reporterIonType').change(function(e){
    var invalidIonList = ['TMT0'];
    console.log(e.target.value);
    var value = e.target.value;
    if (_.contains(invalidIonList, value)){
      $('#tab_3_button').attr('disabled', true);
    }
    else{
      $('#tab_3_button').attr('disabled', false);
    }
    $('div').find("#inverse_matrix_forms").children().each(function(){
      var id = $(this).attr('id');
      if (id == value){
        $(this).show();
      }
      else{
        $(this).hide();
      }
      // console.log($(this).attr('id'));
    })
  })
  </script>
  <script>
  $('div[id="tab_3"]').find("#performRecalibration").change(function(e){
    console.log("Yippie");
    console.log(e.target.value);
    var value = e.target.value;
    if (value == '1'){
      console.log("value is perform_recalibration");
      $('div[id="tab_3"]').find("#options_if_recalibrating").show();
      $('div[id="tab_3"]').find("#options_if_not_recalibrating").hide();
    }
    else if (value == '0'){
      console.log("value is do_not_perform_recalibration");
      $('div[id="tab_3"]').find("#options_if_recalibrating").hide();
      $('div[id="tab_3"]').find("#options_if_not_recalibrating").show();
    }
    else{
      alert("Something is funky, ask sam whats up");
    }
  });
  </script>

  <script>

  $('#tab_3_button').click(function(e){
    console.log("clicked");
    $(this).attr('disabled', true);
    $(this).text("Processing ... ");


    var that = $(this);
    var leftSide = that.parent();
    var reporterType = $('div[id="tab_3"]').find('#reporterIonType');
    console.log(reporterType.val());
    var qs = "#" + reporterType.val() + ", .input_group"
    console.log(qs);
    var formSection = leftSide.find(qs);
    // console.log(formSection);
    var inputs = formSection.find('input');
    var serializedFormSection = serializeForm(inputs);
    console.log(serializedFormSection);
    var transformed = {};
    var broken = false;
    _.each(_.keys(serializedFormSection), function(key){
      if (key=="timestamp"){
        return;
      }
      if (broken){
        return;
      }
      var value = serializedFormSection[key];
      if (isNaN(value)){
        broken=true;
        alert("invalid input. Must be numeric. For " + key);
      }
      value = parseFloat(value);
      if (value < 0.0) {
        broken=true;
        alert("invalid input. Must be positive. For " + key);
      }
      var parts = key.split('_');
      var row = parts[0];
      var column = parts[1];
      console.log(column);
      // console.log(parts[0]);
      // console.log(parts[1]);
      if (!transformed[row]){
        transformed[row]={};
      }
      if (column.startsWith("NA")){
        if(!transformed[row]['other']){
          transformed[row]['other'] = 0.0;
        }
        transformed[row]['other'] += value;
      }
      else {
        transformed[row][column] = value;
      }
      return;
    });

    if (broken){
      that.text('Create Inverse File');
      $(this).attr('disabled', false);
      return;
    }
    var stringDataToSend = JSON.stringify({
      reporterType : reporterType.val(),
      data : transformed
    })
    console.log(stringDataToSend);
    console.log(transformed);
    $.ajax({
      type : "POST",
      url : "createInverseFiles",
      contentType: 'application/json; charset=utf-8',
      data: stringDataToSend,
      success : function(result){
        console.log("good job friend!");
        console.log(result);
        // console.log('bob');
        var filename = reporterType.val() + "-inv.txt"
        console.log('filename: ' + filename);
        var type='text/plain';
        var blob = new Blob([result], {type : type});
        var URL = window.URL || window.webkitURL;
        var downloadUrl = URL.createObjectURL(blob);
        var a = document.createElement("a");
        a.href = downloadUrl;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        console.log('clicked');

      },
      error : function(response, textStatus, HTTPError){
        console.log('error creating inverse');
        console.log(response.responseText);
      }
    });



    that.text('Create Inverse File');
    $(this).attr('disabled', false);



    return;
    var reporterType = $('div[id="tab_3"]').find('#reporterIonType');
    var that = $(this);
    var leftSide = that.parent();
    var inputs = leftSide.find('input, select');
    
    var serializedForm = serializeForm(inputs);

    var rightSide = $(this).parent().siblings("#rightSide").first()
    rightSide.append("<div>Executing Function Now</div>")
    var startTime = new Date();
    givenRightsideAndDataObjSelectMGF(rightSide, serializedForm, function(err){
      if (err){
        console.log("error in tab 3");
        console.log(err);
      }
      else{
        rightSide.append('<h3 style="color:green">Sucessfully parsed all MGF files</h3>')
      }
      that.attr('disabled', false);
      that.text('Click to submit');
      return;
    });
  });
  </script>
</div>