<div>
  <div style="float:left;width:60%" id="leftSide">
    <h2 style="margin:1%">PROTEIN COUNT</h2>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH to PLAIN PARSE FILE YOU WANT TO COUNT</span>
      <input type="text" class="form-control" id="plainParseReadPath">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to the directory where your plain parse .txt file is located. \n\nHold shift as you right click on the file, and then select from the menu that pops up \'copy as path\'. That copies the path to your clipboard. Paste that value into this text box, and remove the quotation marks.')">?</button>
      </span>
    </div>

    <br>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Count only Unique proteins</span>
      <select class='form-control' id="countUniques">
        <option value="1">Include all spectra and highest scored protein match</option>
        <option value="0">Exclude spectra with multiple protein matches</option>
      </select>
      <!-- <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Option to perform reporter-ion mass-recalibration before selecting runs. Provides more accuracy as a slight tradeoff for speed')">?</button>
      </span> -->
    </div>

    <button id="tab_5_button" class="btn btn-primary">Click to submit</button>

  </div>

  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
    <h1>Progress</h1>
    <ul>
    </ul>
  </div>
  
  <script>$('#tab_5_button').click(function(e){

    console.log("clicked");
    $(this).attr('disabled', true);
    // $(this).prop('value', "stevenson");
    $(this).text("Processing...")
    
    var that = $(this);
    var leftSide = that.parent();

    var inputs = leftSide.find('input, select');
    
    var serializedForm = serializeForm(inputs);
    console.log(serializedForm);

    var rightSide = $(this).parent().siblings("#rightSide").first()
    rightSide.append("<div>Starting protein count</div>")
    var startTime = new Date();

    async.waterfall([
      function callCountProtein(callback){
        $.ajax({
          type:"POST",
          url:"plainCountProteins",
          data:serializedForm,
          success : function(result){
            console.log("Count protein complete.");
            console.log(result);
            rightSide.append("<div>Count complete: " + result + "</div>")
            return callback(null);
          },
          error: function(response, textStatus, HTTPError){
            console.log(response.responseText);
            rightSide.append('<h3 style="color:red">' + response.responseText + '</h3>');
            return callback("error: " + response.responseText);
          }
        })
      }
    ],function(err, result){
      console.log("in final waterfall catcher");
      if (err){
        alert(err)
      }
      var difference = new Date() - startTime;
      rightSide.append("<div>MILLISECONDS TAKEN: " + difference + " <div>")
      that.attr('disabled', false);
      that.text('Click to submit');
    })
  })</script>
</div>