<div>
  <div style="float:left;width:60%" id="leftSide">
    <h2 style="margin:1%">MERGE MS2/MS3 FILES</h2>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH TO DIRECTORY OF MS2/MS3 FILES</span>
      <input type="text" class="form-control" id="ms2ms3directory">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('On Windows, open Windows Explorer and navigate to directory containing ms2 and ms3 mgf files. Clicking on its URL bar, to the right of the folder names, will highlight the directory path. Copy and paste that into this text box.')">?</button>
      </span>
    </div>

    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Fragment m/z boundary</span>
      <input type="text" class="form-control" id="mzCutoff" value="140">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Merge MS3 below boundary with MS2 above boundary')">?</button>
      </span>
    </div>
       <br>
        <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Output directory</span>
        <input type="text" class="form-control" id="outDirPath" value="Default GAILA Archive">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to your output directory. Clicking on your url bar will highlight the directory path, copy paste that into this text box.  Will default to the GAILA/Archive folder.')">?</button>
        </span>
      </div>
      <br>

    <button id="tab_6_button" class="btn btn-primary">Click to submit</button>

  </div>

  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
    <h1>Progress</h1>
    <ul>
    </ul>
  </div>
  
  <script>$('#tab_6_button').click(function(e){

    console.log("clicked");
    $(this).attr('disabled', true);
    // $(this).prop('value', "stevenson");
    $(this).text("Processing...")
    
    var that = $(this);
    var leftSide = that.parent();

    var inputs = leftSide.find('input, select');
    
    var serializedForm = serializeForm(inputs, getTimestamp());
    console.log(serializedForm);

    var rightSide = $(this).parent().siblings("#rightSide").first()
    rightSide.append("<div><br>Starting ms2/ms3 file merge.  Status available in terminal window.</div>")
    var startTime = new Date();

    async.waterfall([
      function callCountProtein(callback){
        $.ajax({
          type:"POST",
          url:"mergeMS2MS3",
          data:serializedForm,
          success : function(result){
            console.log("MS2/MS3 merge complete.");
            console.log(result);
            rightSide.append("<h3 style=color:green>Merge complete. </h3><br><div>" + result + "</div>");
            return callback(null);
          },
          error: function(response, textStatus, HTTPError){
            console.log(response.responseText);
            rightSide.append('<h3 style="color:red">' + response.responseText + '</h3>');
            return callback("error: " + response.responseText);
          }
        })
      }
    ],function(err, result){
      console.log("in final waterfall catcher");
      if(err){
        if (err == "error: undefined"){
          alert("Check to see if GAILA server is running.");
        }
        else{
          alert(err);
        }
      }
      var difference = new Date() - startTime;
      rightSide.append("<div>MILLISECONDS TAKEN: " + difference + " <div>")
      that.attr('disabled', false);
      that.text('Click to submit');
    })
  })</script>
</div>