<div>
  <div style="float:left;width:60%" id="leftSide">
    <h2 style="margin:1%">MERGE PSMs (GPM .xml) WITH REPORTER IONS (.mgf)</h2>
    <input type="hidden" id="mgfOperationToPerform" value="1">
    <!-- <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Operation to perform</span>
      <select class='form-control' id="mgfOperationToPerform">
        <option value="1">Select reporter ions from unfiltered .mgf files</option>
        <option value="0">Use pre-extracted reporter ion (.reporter) files</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('If you don\'t have the .reporter files you used for the GPM search, you can re-select them here.')">?</button>
      </span>
    </div> -->
    <div id="options_if_selecting">
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">FULL PATH to MGF DIRECTORY</span>
        <input type="text" class="form-control" id="mgfReadDirPath">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to your mgf directory. Clicking on your url bar will highlight the directory path, copy paste that into this text box')">?</button>
        </span>
      </div>
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Minimum Intensity per reporter</span>
        <input type="text" class="form-control" id="minIntensity" value="0">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('Part of the filtering process. For a reporter ion to be considered present in a given run, it must appear in total this many times')">?</button>
        </span>
      </div>
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Minimum Reporters with said intensity</span>
        <input type="text" class="form-control" id="minReporters" value="0">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('Part of the filtering process. For a run to be selected as valid, this many runs must appear with at least the prescribed intensity')">?</button>
        </span>
      </div>
      <br>

      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Perform largest-reporter recalibration</span>
        <select class='form-control' id="performRecalibration">
          <option value="0">Do Not Perform recalibration</option>
          <option value="1">Perform recalibration</option>
        </select>
      </div>

      <div id="options_if_recalibrating" style="display: none">
        <div class="input-group" style="margin: 1%">
          <span class="input-group-addon" id="basic-addon1">&nbspm/z error for initial runthrough (ppm) &nbsp</span>
          <input type="text" class="form-control" id="mzErrorInitialRun" value="20">
          <span class="input-group-btn">
            <button class="btn btn-info" onclick="alert('Error used to categorize spectral peaks in order to scale reporter ion target-masses to more accurate values. \n\nThe units of this number are millionths of a percent away from target mass. So, inputting 20 would mean that, for a reporter ion with m/z=100, anything with m/z between 99.998 and 100.002 would be classified as that ion')">?</button>
          </span>

        </div>
        <div class="input-group" style="margin: 1%">
          <span class="input-group-addon" id="basic-addon1">&nbsp m/z error for recalibration  (ppm, must be smaller than initial m/z error) &nbsp</span>
          <input type="text" class="form-control" id="mzErrorRecalibration" value="5">
          <span class="input-group-btn">
            <button class="btn btn-info" onclick="alert('Error used to categorize spectral peaks AFTER reporter ion masses have been recalibrated. \n\nThe units of this number are millionths of a percent away from target mass. So, inputting 5 would mean that, for a reporter ion with recalibrated m/z=100, anything with m/z between 99.9995 and 100.0005 would be classified as that ion')">?</button>
          </span>
        </div>
      </div>
      <div id="options_if_not_recalibrating" >
        <div class="input-group" style="margin: 1%">
          <span class="input-group-addon" id="basic-addon1">&nbsp m/z error (ppm, integer) &nbsp</span>
          <input type="text" class="form-control" id="mzError" value="20">
          <span class="input-group-btn">
            <button class="btn btn-info" onclick="alert('Error used to categorize spectral peaks, based on hard-coded reporter ion masses. \n\nThe units of this number are millionths of a percent away from target mass. So, inputting 20 would mean that, for a reporter ion with recalibrated m/z=100, anything with m/z between 99.998 and 100.002 would be classified as that ion')">?</button>
          </span>
        </div>
      </div>
    </div>
    <div id="options_if_not_selecting" style="display:none">
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">FULL PATH to directory with pre-extracted reporter ions</span>
        <input type="text" class="form-control" id="mgfTxtReadDirPath">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to the folder that contains your mgf.txt files. Clicking on your url bar will highlight the directory path, copy paste that into this text box')">?</button>
        </span>
      </div>
    </div>
	  <!-- <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH to MGF DIRECTORY</span>
      <input type="text" class="form-control" id="mgfReadDirPath">
    </div> -->
    <br>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">FULL PATH to XML FILE YOU WANT TO PARSE</span>
      <input type="text" class="form-control" id="xmlReadPath">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to the directory where your xml file is located. \n\nHold shift as you right click on the file, and then select from the menu that pops up \'copy as path\'. That copies the path to your clipboard. Paste that value into this text box, and remove the quotation marks.')">?</button>
      </span>
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">GENE FILE</span>
      <select class='form-control' id="geneFile">
        {% if gene_files %}
          {% for f in gene_files %}
            <option value={{f}}>{{f.rpartition('.')[0]}}</option>
          {% endfor %}
        {% endif %}
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('This file is used to match spectra to specific runs.')">?</button>
      </span>

    </div>

    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">REPORTER ION TYPE</span>
      <select class='form-control' id="reporterIonType">
        {% if inverse_files %}
          {% for f in inverse_files %}
            <option value={{f.rpartition('-inv.txt')[0]}}>{{f.rpartition('-inv.txt')[0]}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>

    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">REPORTER INVERSE FILE</span>
      <select class='form-control' id="reporterInverseFiles">
      </select>
    </div>

    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Write PSMs with peptide expectation &#8804 </span>
      <input type="text" class="form-control" id="logErrorThreshold" value="0.1">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('GPM outputs an match probability for each spectra. This filters out spectra with higher error than the value given. Must be a number between 0 and 1, written in either decimal form or scientific notation (1.3e-5)')">?</button>
      </span>
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Operation to perform</span>
      <select class='form-control' id="assignUnacceptableModifications">
        <option value="0">Flag modifications</option>
        <option value="1">DO NOT flag modifications</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Indicate flagged modifications on output to allow subsequent filtering of data')">?</button>
      </span>
    </div>
    <div id="options_if_choosing_unacceptable_mods">
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Modifications</span>
        <select class='form-control' id="unacceptableMods" multiple="multiple">
          <option value="ISOBARIC_LABEL@Y" selected>Reporter Ion modifies with Y-hydroxyl</option>
          <option value="15.994915@M">Oxidation (M)</option>
          <option value="31.98983@M" selected>Dioxidation (M)</option>
          <option value="15.994915@W" selected>Oxidation (W)</option>
          <option value="31.98983@W" selected>Dioxidation (W)</option>
          <option value="0.984016@N" selected>Deamidation (N)</option>
          <option value="0.984016@Q" selected>Deamidation (Q)</option>
          <option value="21.982@D,21.982@E">Cation:Na (E,D)</option>
          <option value="37.955885@D,37.955885@E">Cation:K (E,D)</option>
          <option value="15.994915@P">Hydroxy (P)</option>
          <option value="79.966331@S">Phospho (S)</option>
          <option value="79.966331@T">Phospho (T)</option>
          <option value="79.966331@Y">Phospho (Y)</option>
          <option value="79.956815@Y">Sulfo (Y)</option>
          <option value="42.010565@K">Acetyl (K)</option>
          <option value="43.989829@E">gamma-carboxyl (E)</option>
          <option value="43.005814@[">Carbamyl (nt)</option>
          <option value="43.005814@K">Carbamyl (K)</option>
          <option value="57.021464@[">Carbamidomethyl (nt)</option>
          <option value="57.021464@K">Carbamidomethyl (K)</option>
          <option value="27.994915@K">formyl (K)</option>
          <option value="27.994915@[">formyl (nt)</option>
          
        </select>
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('On windows, select multiple by holding down ctrl. On mac, hold down command')">?</button>
        </span>
      </div>
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Normalize Intensities</span>
      <select class='form-control' id="normalizeIntensities">
        <option value="0">Normalize each reporter ion to its own total intensity</option>
        <option value="1">DO NOT normalize reporter ions</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Reporter ion normalizations are included in the final output file')">?</button>
      </span>
    </div>
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Write unassigned spectra</span>
      <select class='form-control' id="writeAllSpectra">
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Selecting yes writes out all spectra including those without XML assignments.')">?</button>
      </span>
    </div>
    <br>

    <div id="option_if_RemoveReporters">
    <div class="input-group" style="margin: 1%">
      <span class="input-group-addon" id="basic-addon1">Save filtered mgf files</span>
      <select class='form-control' id="removeMGF">
        <option value="0">No, remove the filtered MGF files</option>
        <option value="1">Yes, keep the filtered MGF files</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="alert('Save MGF files created during processing')">?</button>
      </span>
    </div>
    
      <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Save temporary reporter files</span>
        <select class='form-control' id="removeReporters">
          <option value="0">No, remove the temporary reporter files</option>
          <option value="1">Yes, Keep the temporary reporter files</option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('Save reporter files created during processing')">?</button>
        </span>
      </div>
    </div>
    <div class="input-group" style="margin: 1%">
        <span class="input-group-addon" id="basic-addon1">Output directory</span>
        <input type="text" class="form-control" id="outDirPath" value = "Default GAILA Archive">
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="alert('On windows, open windows explorer and navigate to your output directory. Clicking on your url bar will highlight the directory path, copy paste that into this text box.  Will default to the GAILA/Archive folder.')">?</button>
        </span>
      </div>
      <br>

    <button id="tab_2_button" class="btn btn-primary">Click to submit</button>
  </div>
  <div style="float:right;width:30%;height:88vh;border-style:solid;border-width:5px;overflow:scroll;padding:10px" id="rightSide">
  	<h1>Progress</h1>
  	<ul>
  	</ul>
  </div>
  <script type="text/javascript">
  $('div[id="tab_2"]').find("#performRecalibration").change(function(e){
    // console.log($(this))
    console.log(e.target.value);
    var value = e.target.value;
    if (value == '1'){
      console.log("value is perform_recalibration");
      $('div[id="tab_2"]').find("#options_if_recalibrating").show();
      $('div[id="tab_2"]').find("#options_if_not_recalibrating").hide();
    }
    else if (value == '0'){
      console.log("value is do_not_perform_recalibration");
      $('div[id="tab_2"]').find("#options_if_recalibrating").hide();
      $('div[id="tab_2"]').find("#options_if_not_recalibrating").show();
    }
    else{
      alert("Issue with calibration options");
    }
  });
  </script>
  <script type="text/javascript">
  $('div[id="tab_2"]').find("#assignUnacceptableModifications").change(function(e){
    var val = e.target.value;
    console.log("unnacceptablemodsvalue is " + val);
    if (val == "0"){
      $('div[id="tab_2"]').find("#options_if_choosing_unacceptable_mods").show();
    }
    else{
      $('div[id="tab_2"]').find("#options_if_choosing_unacceptable_mods").hide(); 
    }
  });
  </script>
   <script type="text/javascript">
  $('div[id="tab_2"]').find("#mgfOperationToPerform").change(function(e){
    var val = e.target.value;
    console.log("mgfOperationToPerform is " + val);
    if (val == "0"){
      $('div[id="tab_2"]').find("#option_if_RemoveReporters").hide();
    }
    else{
      $('div[id="tab_2"]').find("#option_if_RemoveReporters").show(); 
    }
  });
  </script>

  <script type="text/javascript">
  $('div[id="tab_2"]').find("#mgfOperationToPerform").change(function(e){
    var val = e.target.value;
    console.log("mgfOperationToPerform value is " + val);
    if(val=='1'){
      console.log('val is 1')
      $('div[id="tab_2"]').find('#options_if_selecting').show();
      $('div[id="tab_2"]').find('#options_if_not_selecting').hide();
    }
    else if (val=='0'){
      console.log('val is 0')
      $('div[id="tab_2"]').find('#options_if_selecting').hide();
      $('div[id="tab_2"]').find('#options_if_not_selecting').show();
    }
    else{
      alert('Somethings fishy with mgfOperationToPerform');
    }
  });
  </script>
  
  	<script type="text/javascript">
	  	function inverse_file_update_tab2(e){
      	var val = e.target.value;
      	console.log("inverse update tab2")
        console.log("reporterIonType value is " + val);
        $.ajax({
            type:"POST",
            url:"reporterIonType",
            data:{"ionType": val},
            success : function(result){
              console.log("Retrieved Ion Types tab2");
              console.log(result);
              inverse_files = JSON.parse(result);
              $('div[id="tab_2"').find('#reporterInverseFiles').empty();
              $.each(inverse_files, function(i, filename) {
                $('div[id="tab_2"]').find('#reporterInverseFiles').append($('<option>').text(filename).attr('inverse_file', filename));
              });
            },
            error: function(response, textStatus, HTTPError){
              console.log("Error");
              console.log(response);
            }
          })
    	}

        function inverse_file_load_tab2(){
      	var val = $('div[id="tab_2"]').find("#reporterIonType").val();
      	console.log("inverse load tab2")
        console.log("reporterIonType value is " + val);
        $.ajax({
            type:"POST",
            url:"reporterIonType",
            data:{"ionType": val},
            success : function(result){
              console.log("Retrieved Ion Types");
              console.log(result);
              inverse_files = JSON.parse(result);
              $('div[id="tab_2"]').find('#reporterInverseFiles').empty();
              $.each(inverse_files, function(i, filename) {
                $('div[id="tab_2"]').find('#reporterInverseFiles').append($('<option>').text(filename).attr('inverse_file', filename));
              });
            },
            error: function(response, textStatus, HTTPError){
              console.log("Error");
              console.log(response);
            }
          })
    }
	</script>

  <script type="text/javascript">
    console.log("loading the javascript");
    $('div[id="tab_2"]').find("#reporterIonType").change(inverse_file_update_tab2);
    $(document).ready(inverse_file_load_tab2);
  </script>

  <script>$('#tab_2_button').click(function(e){

  	console.log("clicked");
  	$(this).attr('disabled', true);
    // $(this).prop('value', "stevenson");
    $(this).text("Processing...")
  	
    var that = $(this);
    var leftSide = that.parent();

    var inputs = leftSide.find('input, select');
    
    var serializedForm = serializeForm(inputs, getTimestamp())
    console.log(serializedForm);

    var rightSide = $(this).parent().siblings("#rightSide").first()
    rightSide.append("<div>Executing Function Now</div>")
    rightSide.scrollTop(rightSide[0].scrollHeight);
    var startTime = new Date();
    // async.waterfall([

    // ])
    // if (serializedForm.mgfOperationToPerform == '1'){

    // }
    async.waterfall([
      function checkIfFinalProductExistsAlready(callback){
        $.ajax({
          type:"POST",
          url:"check_if_gpm_merge_already_exists",
          data:serializedForm,
          success : function(result){
            console.log("final product doesn't already exist");
            console.log(result);
            return callback(null);
          },
          error: function(response, textStatus, HTTPError){
            console.log(response.responseText);
            rightSide.append('<h3 style="color:red">' + response.responseText + '</h3>');
            rightSide.scrollTop(rightSide[0].scrollHeight);
            return callback("error: " + response.responseText);
          }
        })
      },
      function maybeSelectMGF(callback){
        if (serializedForm.mgfOperationToPerform == '1'){
          rightSide.append("<div>Need to select from MGF files, doing that now</div>");
          rightSide.scrollTop(rightSide[0].scrollHeight);
          return givenRightsideAndDataObjSelectMGF(rightSide, serializedForm, callback);
        }
        else{
          rightSide.append("<div>No need to select from MGF files, moving on</div>");
          rightSide.scrollTop(rightSide[0].scrollHeight);
          return callback(null)
        }
      },
      function parseXML(callback){
        rightSide.append("<div>Parsing files</div>");
        rightSide.append('<div style="color:blue">Please be patient as this may take a while.  Progress can be viewed in the command line window.</div>');
        rightSide.scrollTop(rightSide[0].scrollHeight);
        $.ajax({
          type:"POST",
          url:"tab_2_helper_function",
          data : serializedForm,
          // dataType : 'json',
          // contentType: "application/json",
          success : function(result){
            console.log(result);
            rightSide.append('<h3 style="color:green">XML parsed successfully. You can find the parsed xml in the specified output folder</h3>');
            rightSide.scrollTop(rightSide[0].scrollHeight);
            writeSummaryToFile(rightSide, serializedForm, function(err){});
            return callback(null);
          },
          error: function(response, textStatus, HTTPError){
            console.log(response.responseText);
            rightSide.append('<div style="color:red">' + response.responseText + '</div>')
            rightSide.scrollTop(rightSide[0].scrollHeight);
            return callback("error: " + response.responseText)
          }
        })
      }
    ],function(err, result){
      console.log("in final waterfall catcher");
      var difference = new Date() - startTime;
      rightSide.append("<div>MILLISECONDS TAKEN: " + difference + " <div>")
      rightSide.scrollTop(rightSide[0].scrollHeight);
      if(err){
        if (err == "error: undefined"){
          alert("Check to see if GAILA server is running.");
        }
        else{
          alert(err);
        }
      }
      that.attr('disabled', false);
      that.text('Click to submit');
    })
  })</script>
</div>