<option value="15.994915@M">Oxidation (M)</option>
<option value="31.98983@M">Dioxidation (M)</option>
<option value="15.994915@W">Oxidation (W)</option>
<option value="31.98983@W">Dioxidation (W)</option>
<option value="0.984016@N">Deamidation (N)</option>
<option value="0.984016@Q">Deamidation (Q)</option>
<option value="21.982@D,21.982@E">Cation:Na (E,D)</option>
<option value="37.955885@D,37.955885@E">Cation:K (E,D)</option>
<option value="15.994915@P">Hydroxy (P)</option>
<option value="79.966331@S">Phospho (S)</option>
<option value="79.966331@T">Phospho (T)</option>
<option value="79.966331@Y">Phospho (Y)</option>
<option value="79.956815@Y">Sulfo (Y)</option>
<option value="42.010565@K">Acetyl (K)</option>
<option value="43.989829@E">gamma-carboxyl (E)</option>
<option value="43.005814@[">Carbamyl (nt)</option>
<option value="43.005814@K">Carbamyl (K)</option>
<option value="57.021464@[">Carbamidomethyl (nt)</option>
<option value="57.021464@K">Carbamidomethyl (K)</option>
<option value="27.994915@K">formyl (K)</option>
<option value="27.994915@[">formyl (nt)</option>
